# -------------------------
# Python
# -------------------------

__pycache__/
*.pyc
*.pyo
*.pyd

# -------------------------
# Virtual Environment
# -------------------------

.venv/
.venv311
env/
airflow_env/

# -------------------------
# IDE / Editor
# -------------------------
.idea/
.vscode/

# -------------------------
# Logs
# -------------------------
logs/
*.log

# -------------------------
# Data (VERY IMPORTANT)
# -------------------------
data/
Data/
test/
output/
utils/

# -------------------------
# Airflow
# -------------------------
airflow/logs/
airflow/airflow.db
airflow/unittests.cfg

# -------------------------
# OS files
# -------------------------
.DS_Store
Thumbs.db